/Data
/.ipynb_checkpoints
/Victor
/maestria
/__pycache__
/assets/Audio
/spectogram_image
/assets/spectograms
.tmp.driveupload/
.venv/
.tmp.drivedownload/
/assets/analysis_spectograms
/assets/audio_section
/assets/imagenes
.tmp.driveupload
~*